@import "null";
@import "variables";

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

[class*="__container"] {
  max-width: $desktopLarge + 30px;
  margin: 0 auto;
  padding: 0 15px;
}

.top-burger {
  display: none;

  @include tablet {
    display: block;
    margin-right: 15px;
  }
}

.header {
  white-space: nowrap;

 

  &__top {
    border-bottom: 2px solid $yellow-color;
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: block;
    }
  }

  &__bottom {
    border-bottom: 2px solid $blue-color;
  }

  &__top,
  &__bottom {
    padding: 32px 0;

    @include tablet {
      padding: 24px 0;
    }

    @include mobileM {
      padding: 12px 0;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

footer .header__top {
  border-top: 2px solid $yellow-color;
  border-bottom: none;
}
footer .header__bottom {
  border-top: 2px solid $blue-color;
  border-bottom: none;
}

footer {
  margin-top: 120px;

  @include tablet {
    margin-top: 60px;
  }
}

.top-header {
  font-size: 16px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__column {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:last-child {
      @include tablet {
        display: none;
      }
    }
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-blue-color;

    @include desktopM {
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobileS {
      font-size: 10px;
    }
  }

  &__phones-img {
    margin-right: 12px;

    @include desktopM {
      margin-right: 8px;
    }
  }

  &__phones {
    display: flex;
    align-items: center;

    a {
      &:not(:last-child) {
        margin-right: 16px;
        @include desktopM {
          margin-right: 8px;
        }
      }
    }
  }

  &__mail {
    @include desktopM {
      margin-top: 12px;
    }
  }

  &__phones,
  &__address {
    margin-right: 40px;

    @include desktopM {
      margin-right: 12px;
    }
  }

  &__info,
  &__address {
    color: $black-color;
  }

  &__address {
    @include mobileM {
      margin-bottom: 10px;
      text-align: center;
    }
  }
}

.bottom-header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    align-items: center;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 18px;

    @include desktop {
      margin-right: 8px;
    }
  }

  &__label-img {
    max-width: 78px;
    margin-right: 10px;

    @include desktop {
      margin-right: 6px;

      img {
        width: 50px;
      }
    }
  }

  &__content {
    @include mobileM {
      display: none;
    }
  }

  &__logo {
    padding: 8px;

    background: $light-green;

    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;

    @include desktop {
      padding: 6px;

      font-size: 10px;
    }
  }

  &__title {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @include desktopM {
      font-size: 24px;
    }

    @include desktop {
      font-size: 18px;
    }
  }

  &__btn-lang {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;

    @include desktopM {
      padding: 5px 10px;
    }

    span {
      margin-left: 8px;
      font-size: 20px;
      line-height: 150%;

      @include mobileM {
        display: none;
      }
    }
  }
  .--ua {
    margin-right: 20px;
    background: $light-green;
  }
  .--usa {
    background: $grey-bg;
  }

  .--ua,
  .--usa {
    @include mobileM {
      display: none;
    }
  }


  &__btn-donat {
    padding: 24px 28px;
    margin-left: 15px;

    background: $blue-color;

    font-size: 20px;
    color: $white-color;

    @include desktopM {
      padding: 24px 24px;
    }

    @include mobileM {
      padding: 12px 14px;
    }
  }
}

.misija {
  border-bottom: 2px solid $yellow-color;
  &__container {
    display: flex;

    @include tablet {
      display: block;
    }
  }

  &__content {
    flex: 0 1 45%;

    @include desktop {
      flex: 0 1 35%;
    }

    @include tablet {
      padding-bottom: 24px;
    }
  }

  &__gallery {
    flex: 0 1 55%;

    @include desktop {
      flex: 0 1 65%;
    }
  }
}

.block {
  padding-top: 88px;

  text-align: center;

  @include tablet {
    padding-top: 40px;
  }

  &__title {
    font-size: 54px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;

    span {
      color: $green;
    }

    @media (max-width: 1100px) {
      font-size: 40px;
    }
  }

  &__qr {
    max-width: 303px;
    margin: 0 auto;
  }

  &__action {
    padding-top: 15px;
  }

  &__zvit {
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    a {
      color: $blue-color;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  transform: translateX(10%);
  height: auto;

  @include tablet {
    transform: translateX(0%);
  }

  &__img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .--img-1 {
    padding-bottom: 70%;
  }

  .--img-3 {
    padding-bottom: 130%;
    margin-top: -30%;
  }
}

// ============================= project

.nav-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  justify-content: center;

  z-index: 99;

  background: white;

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  &__lang {
    display: flex;
    align-items: center;
    img {
      margin-right: 8px;
    }
  }

  ul {
    margin-top: 60px;
    li {
      font-size: 32px;
      font-weight: 700;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

.stage {
  
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 118px;
    padding-bottom: 64px;

    @include tablet {
      padding-top: 32px;
      padding-bottom: 24px;
    }

    h2 {
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;

      @include tablet {
        font-size: 32px;
      }

      @include mobileM {
        font-size: 24px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $blue-color;

    span {
      margin-right: 22px;

      @include tablet {
        font-size: 18px;
        margin-right: 12px;
      }

            @include mobileM {
        font-size: 14px;
      }
    }
  }

  &__list {
    display: flex;
    margin: 0 -12px;


    @include tablet {
      margin: 0 -8px;
    }

    // overflow-x: auto;
    // -ms-overflow-style: none;
    // scrollbar-width: none;
    // &::-webkit-scrollbar {
    //   display: none;
    // }

  }

  &__item {
    flex: 0 1 33.333%;
    margin: 0 12px;

    min-width: 270px;
    @include tablet {
      margin: 0 8px;
    }

    &:hover {
      img {
        transform: scale(1.02);
      }

      .stage__desc {
        color: $blue-color;
      }
    }
  }

  &__item-img {
    position: relative;
    padding-bottom: 67%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;

      transition: transform 0.3s ease-in-out;
    }
  }

  &__desc {
    font-size: 24px;

    transition: color 0.3s ease-in-out;

    @include tablet {
      font-size: 18px;
    }
  }

  &__data {
    font-size: 20px;
    color: #353535;
    font-weight: 400;
    @include tablet {
      font-size: 14px;
    }
  }
  &__desc,
  &__data {
    padding-top: 32px;

    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
}

.projects {
  display: flex;
  margin: 0 -12.5px;

  @include tablet {
    margin: 0 -6px;
  }

  @include mobileM {
    display: block;

    margin: 0;
  }

  &__item {
    flex: 0 1 50%;
    margin: 0 25px;

    @include tablet {
      margin: 0 12px;
    }

    @include mobileM {
      margin-right: 0;
      margin-left: 0;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &__img {
    position: relative;
    padding-bottom: 34.29%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__contents {
    h3 {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;

      padding-top: 32px;
    }

    p {
      padding-top: 32px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;

      color: #000;
    }

    @include tablet {
      h3 {
        font-size: 24px;

        padding-top: 24px;
      }

      p {
        font-size: 18px;
        padding-top: 24px;
      }
    }
  }

  &__buttons {
    display: flex;
    padding-top: 32px;

    @include tablet {
      padding-top: 24px;
    }
  }

  &__button {
    display: inline-block;
    padding: 24px 48px;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;

    @include tablet {
      padding: 16px 22px;

      font-size: 18px;
    }

    &_support {
      margin-right: 32px;
      background: $black-color;
      color: $white-color;

      @include desktop {
        margin-right: 16px;
      }
    }

    &_details {
      background: #e2ecf5;
      color: $black-color;
    }
  }
}

.swiper {
  width: 100%;
}
